$black: #000000;
$white: #ffffff;
// new
$prussianblue: #00549b;
$carrotorange: #f26e25;
$bluelagoon: #004c70;

$blue-1: #1078ca;
$blue-2: #348cd2;
$blue-3: #58a1da;
$blue-4: #7cb5e2;
$blue-5: #9fc9ea;
$blue-6: #c3ddf2;
$blue-7: #e7f1fa;
$blue-8: #f6fbff;

$orange-1: #f36f21;
$orange-2: #f58542;
$orange-3: #f79a64;
$orange-4: #f8b085;
$orange-5: #fac5a6;
$orange-6: #fcdbc7;
$orange-7: #fef1e9;
$orange-8: #fff7f2;

$red-1: #e83939;
$red-2: #eb5252;
$red-3: #f75656;
$red-4: #f18383;
$red-5: #f39c9c;
$red-6: #f6b5b5;
$red-7: #f9cdcd;
$red-8: #fce6e6;

$green-1: #27ae60;
$green-2: #12b872;
$green-3: #2ecc71;
$green-4: #49d198;
$green-5: #86e4ad;
$green-6: #a4ebc2;
$green-7: #c2f1d6;
$green-8: #e1f8eb;

$yellow-1: #efb403;
$yellow-2: #fcc317;
$yellow-3: #fdcc38;
$yellow-4: #fdd45a;
$yellow-5: #fddd7b;
$yellow-6: #fee59c;
$yellow-7: #feeebd;
$yellow-8: #fff6de;

$skyblue-1: #21d1ff;
$skyblue-2: #3dd7ff;
$skyblue-3: #59dcff;
$skyblue-4: #74e2ff;
$skyblue-5: #90e8ff;
$skyblue-6: #aceeff;
$skyblue-7: #c7f3ff;
$skyblue-8: #e3f9ff;

$pink-1: #ff4d77;
$pink-2: #ff6388;
$pink-3: #ff7a99;
$pink-4: #ff90aa;
$pink-5: #ffa6bb;
$pink-6: #ffbccc;
$pink-7: #ffd3dd;
$pink-8: #ffe9ee;

$mineshaft: #333333;
$dimgray: #4f4f4f;
$nobelgray: #828282;
$nepal: #849fbd;
$metalgray: #bdbdbd;
$dustygray: #e1e4ea;

$lightslategray: #eef2f6;
$concretegray: #e5e7e9;
$mushroomgray: #f0efef;
$athensgray: #f6f7f9;
$smokegray: #fafafa;
