$none-00: 0px 0px 0px rgba(112, 112, 112, 0.2);
$skim-01: 0px 1px 10px rgba(112, 112, 112, 0.2);
$lifted-02: 0px 2px 20px rgba(112, 112, 112, 0.2);
$raised-03: 0px 3px 30px rgba(112, 112, 112, 0.2);
$floating-04: 0px 4px 40px rgba(112, 112, 112, 0.2);
